name: flutter_native_certs_example
description: "Demonstrates how to use the flutter_native_certs plugin."
publish_to: 'none'

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  flutter_native_certs:
    path: ../

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true